// common
a{
    color: #000 !important;
    text-decoration: none;
    font-size: 14px;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

// top nav
.top-nav-left {
    // color: #eeeeeea1;
    padding: 10px;
}
.login_part {
    margin-top: 7px;
}
.nav-down{
    background-color: #3091f2 !important;
    .bg-light {
        background-color: #3091f2 !important;
    }
    .navbar-expand-lg .navbar-collapse {
        flex: 0.8 1 auto;
    }
    .nav-link {
        font-size: 16px;
        font-weight: 900;
        line-height: 14px;
    }
    .navbar a
    {
        color: #fff !important;
    }
}
// carousel
#carouselAcademy{
    img{
        height: 500px;
    }
}
.carousel-top{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 52;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .8s;
    .col_name{
        color: #fff;
        margin-top: -100px;
    }
    .his_btn {
        border: 1px solid #4af40c;
        border-radius: 4px;
        background-color: #3091f2;
        .btn{
            color: #fff;
            font-size: 20px;
            font-weight: 900;
            padding: 8px 50px;
        }
    }
    .his_btn:hover {
        background-color: #991c1c8c;
    }
}
// sobornojointy
#sobornojointy{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(177, 218, 231, 0.168627451);
    .container{
        .row{
            .lksUi{
                overflow-x: auto;
                text-align: justify;
                font-size: 15px;
                color: #000;
                padding: 10px;
                background: #F1F8E9;
                border-radius: 3px;
                text-align: center;
                .table{
                    tbody{
                        tr{
                            td,p{
                                font-size: 18px;
                                line-height: 1.42857143;
                            }
                            h3{
                                width: 100%;
                                text-align: center;
                                padding-top: 30px !important;
                                padding: 10px;
                                color: #966521;
                            }
                            a{
                                color: #fff !important;
                            }
                            td:nth-child(1) {
                                width: 33%;
                                p{margin-top: 20px;}
                            }
                            td:nth-child(2){
                                text-align: justify;
                                width: 34%;
                                text-align: justify;
                                p{
                                    font-weight: 600;
                                    line-height: 27px;
                                }
                            }
                            td:nth-child(3) {
                                width: 33%;
                              }
                        }
                    }
                }
            }
        }
    }
}
// professorMsg
#professorMsg{
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        .row{
            .wqbGt{
                text-align: center;
                .ewKuy{
                    box-shadow: 0px 2px 18px 16px rgba(0,0,0,0.3);
                    display: inline-block;
                    position: relative;
                    max-width: 100%;
                    .d_shadow{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        pointer-events: none;
                    }
                    img{
                        min-height: 100px;
                        max-height: 466px;
                        width: auto;
                    }
                } 
            }
            .contentOfPr{
                margin-top: 80px;
                text-align: justify;
                .p_msg {
                    margin-top: 20px;
                }
            }
        }
        .vice{
            margin-top: 50px;
        }
    }
}
// notice
#notice{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #b1dae72b;
    .container{
        .divtitle{
            text-align: center;
            margin-bottom: 50px;
            h2{
                font-weight: 900;
            }
            .borde{
                border-style: solid;
                border-top-width: 3px;
                border-color: #2b87da;
                width: 15%;
                vertical-align: middle;
                display: inline flow-root;
            }
        }
        .row{
            .recent{
                box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px,rgb(0 0 0 / 30%) 0px 7px 13px -3px,rgb(0 0 0 / 20%) 0px -3px 0px inset;
                background-color: #fff;
                height: 100%;
                h1{
                    padding-left: 25px;
                    padding-top: 20px;
                    margin-bottom: 20px;
                }
                .content{
                    height: 70%;
                    ul{
                        list-style-type: disc;
                        padding: 0 0 23px 2em;
                        line-height: 26px;
                        li{
                            list-style: none;
                            a{
                                text-decoration: underline;
                                font-size: 18px;
                                color: #2ea3f2 !important;
                            }
                            .cont_date {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .shgTr{
                    text-align: center;
                    padding-bottom: 20px;
                    a{
                        border: 1px solid #b1dae7;
                        background-color: #b1dae7;
                        padding: 6px 10px;
                        border-radius: 12px;
                    }
                }
            }
            .finalBox{
                margin-bottom: 0!important;
            }
            .rightBox{
                background-color: #fff;
                box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px,rgb(0 0 0 / 30%) 0px 7px 13px -3px,rgb(0 0 0 / 20%) 0px -3px 0px inset;
                font-size: 15px;
                color: #3091F2;
                padding-top: 20px;
                padding-right: 25px;
                padding-bottom: 20px;
                padding-left: 25px;
                margin-bottom: 20px;
                .row{
                    img{
                        width: 95px;
                    }
                    .content{
                        h4{
                            margin-left: 15px;
                            color: #000;
                        }
                        ul{
                            li{
                                a{
                                    font-size: 15px;
                                    color: #2ea3f2 !important;
                                    line-height: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// recent_pic
#recent_pic{
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        .dJuyt{
            h2{
                color: #333;
                font-size: 22px;
                font-weight: 700;
                font-family: Roboto;
                letter-spacing: -.01rem;
            }
        }
        .imag{
            .owl-carousel{
                .item{
                    border: 0px solid black;
                    // filter: grayscale(100%);
                    // -webkit-filter: grayscale(100%);
                    // filter: gray;
                    -webkit-transition: all .6s ease;
                    width: 169.667px;
                    margin: 3px;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 50px;
                    }
                }
                .item:hover {
                    // filter: grayscale(0%);
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(0%);
                    filter: gray;
                    // filter: none;
                }
            }
        }
    }
}