@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
// common

*{
    font-family: 'Noto Sans Bengali', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}
.row .pagination {
    justify-content: end;
}
.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
    font-weight: 900;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
// top nav
.header{
    position: relative;
}


// carousel
#carouselAcademy{
    img{
        height: 500px;
    }
}
.carousel-top{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    // z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    
    transition: .8s;
    .col_name{
        color: #fff;
        font-weight:700;
        margin-top: -30%;
        text-shadow: 0px 3px 4px black;
    }
    .his_btn {
        border-radius: 4px;
        background-color: #382b70;
        .btn{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            padding: 8px 50px;
        }
    }
    .his_btn:hover {
        background-color: #513cad;
    }
}
// sobornojointy
#sobornojointy{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(177, 218, 231, 0.168627451);
    .container{
        .row{
            .lksUi{
                overflow-x: auto;
                text-align: justify;
                font-size: 15px;
                color: #000;
                padding: 10px;
                background: #F1F8E9;
                border-radius: 3px;
                text-align: center;
                .table{
                    tbody{
                        tr{
                            td,p{
                                font-size: 18px;
                                line-height: 1.42857143;
                            }
                            h3{
                                width: 100%;
                                text-align: center;
                                padding-top: 30px !important;
                                padding: 10px;
                                color: #966521;
                            }
                            a{
                                color: #fff !important;
                            }
                            td:nth-child(1) {
                                width: 33%;
                                p{margin-top: 20px;}
                            }
                            td:nth-child(2){
                                text-align: justify;
                                width: 34%;
                                text-align: justify;
                                p{
                                    font-weight: 600;
                                    line-height: 27px;
                                }
                            }
                            td:nth-child(3) {
                                width: 33%;
                              }
                        }
                    }
                }
            }
        }
    }
}
// professorMsg
#professorMsg{
    padding-top: 50px;
    padding-bottom: 50px;
    .container{
        .row{
            .wqbGt{
                text-align: center;
                margin-top: 70px;
                .ewKuy{
                    border:10px solid #fff;
                    box-shadow: 8px 10px 11px 4px rgb(0 0 0 / 30%);
                    display: inline-block;
                    position: relative;
                    max-width: 100%;
                    .d_shadow{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        pointer-events: none;
                    }
                    img{
                        // min-height: 100px;
                        height: 250px;
                        width: 375px;
                    }
                } 
            }
            .contentOfPr{
                margin-top:50px;
                text-align: left;
                .p_msg {
                    margin-top: 20px;
                }
            }
        }
        .vice{
            margin-top: 80px;
        }
    }
}

//about institute
#about_ins{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(177, 218, 231, 0.168627451);
    .container{
        .row{
            .lksUi{
                text-align: justify;
                font-size: 15px;
                color: #000;
                padding: 10px;
                background: #F1F8E9;
                border-radius: 3px;
                text-align: center;
                .title {
                    font-size: 30px;
                    color: #19686d;
                    font-weight: 900;
                    text-align: left;
                }
                .borde{
                    border-style: solid;
                    border-top-width: 3px;
                    border-color: #19686d;
                    width: 15%;
                    vertical-align: middle;
                    display: block;
                    margin: 0;
                    height: 0;
                }
                .pragraph{
                    text-align: justify;
                }
            }
        }
    }
}

// notice
#notice{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    .container{
        .divtitle{
            text-align: center;
            margin-bottom: 50px;
            h2{
                font-weight: 900;
            }
            .borde{
                border-style: solid;
                border-top-width: 3px;
                border-color: #19686d;
                width: 15%;
                vertical-align: middle;
                display: inline flow-root;
            }
        }
        .row{
            .recent{
                box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px,rgb(0 0 0 / 30%) 0px 7px 13px -3px,rgb(0 0 0 / 20%) 0px -3px 0px inset;
                background-color: #f1f8e9;
                height: 100%;
                h1{
                    padding-left: 25px;
                    padding-top: 20px;
                    margin-bottom: 20px;
                }
                .content{
                    height: 70%;
                    ul{
                        list-style-type: disc;
                        padding: 0 0 23px 2em;
                        line-height: 26px;
                        li{
                            list-style: none;
                            a{
                                text-decoration: underline;
                                font-size: 18px;
                                color: #2ea3f2 !important;
                            }
                            .cont_date {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .shgTr{
                    text-align: center;
                    padding-bottom: 20px;
                    a{
                        border: 1px solid #b1dae7;
                        background-color: #b1dae7;
                        padding: 6px 10px;
                        border-radius: 12px;
                    }
                }
            }
            .finalBox{
                margin-bottom: 0!important;
            }
            .rightBox{
                background-color: #f1f8e9;
                box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px,rgb(0 0 0 / 30%) 0px 7px 13px -3px,rgb(0 0 0 / 20%) 0px -3px 0px inset;
                font-size: 15px;
                color: #3091F2;
                padding-top: 20px;
                padding-right: 25px;
                padding-bottom: 20px;
                padding-left: 25px;
                margin-bottom: 20px;
                .row{
                    img{
                        width: 95px;
                    }
                    .content{
                        h4{
                            margin-left: 15px;
                            color: #000;
                        }
                        ul{
                            li{
                                a{
                                    font-size: 15px;
                                    color: #2ea3f2 !important;
                                    line-height: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// recent_pic
#recent_pic{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #b1dae72b;
    .container{
        .dJuyt{
            h2{
                color: #333;
                font-size: 22px;
                font-weight: 700;
                font-family: Roboto;
                letter-spacing: -.01rem;
            }
        }
        .imag{
            .owl-carousel{
                .item{
                    border: 0px solid black;
                    // filter: grayscale(100%);
                    // -webkit-filter: grayscale(100%);
                    // filter: gray;
                    -webkit-transition: all .6s ease;
                    width: 169.667px;
                    margin: 3px;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 50px;
                    }
                }
                .item:hover {
                    // filter: grayscale(0%);
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(0%);
                    filter: gray;
                    // filter: none;
                }
            }
        }
    }
}

//calender
#calender{
    .container{
        .row{
            .title {
                font-size: 30px;
                color: #19686d;
                font-weight: 900;
                text-align: center;
            }
            .accordion{
                .accordion-button:not(.collapsed) {
                    
                    background-color: #f1f8e9;
                    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
                }
                .accordion-button:focus {
                    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
                }
                .accordion-button::after{
                    color: #fff;
                }
            }
        }
    }
}

// footer
#footer{
    background-color: #f2f9fb;
    .footer-middle{
        padding: 4.7rem 0 0;
        .container{
            .row{
                .widget{
                    margin-bottom: 1rem;
                    font-size: 14px;
                    a{
                        img{
                            margin-bottom: 2rem;
                            margin-top: -.8rem;
                        }
                    }
                    p:last-of-type {
                        margin-bottom: 3.2rem;
                        color: #000;
                    }
                    .social-icon, .social-icons {
                        display: flex;
                        align-items: center;
                    }
                    .social-icons {
                        flex-flow: row wrap;
                    }
                    .social-icon {
                        justify-content: center;
                        font-size: 1.6rem;
                        width: 4rem;
                        height: 4rem;
                        color: #777;
                        margin: 0;
                        background-color: transparent;
                        border: .1rem solid #e1e2e6;
                        text-decoration: none;
                        opacity: 1;
                        -webkit-transition: all .35s ease;
                        transition: all .35s ease;
                    }
                    .social-icon:hover {
                        background-color: #34bf20 !important;
                        i{
                            color: #ec2121 !important;
                        }
                    }
                    .widget-title {
                        color: #000;
                        font-weight: 500;
                        font-size: 1.3rem;
                        letter-spacing: -.01em;
                        margin-top: 0;
                        margin-bottom: 0.9rem;
                        text-transform: uppercase;
                    }
                    .widget-list {
                        list-style: inside;
                        padding: 0;
                        margin: 0 0 1.5rem;
                        li:not(:last-child) {
                            margin-bottom: .4rem;
                        }
                        li a {
                            font-size: 1rem;
                            font-weight: 400;
                            font-family: Roboto;
                            letter-spacing: 0;
                            color: #3d25e6 !important;
                            text-decoration: underline;
                        }
                    }
                    .wpb_wrapper p {
                        font-size: 1rem;
                        font-weight: 400;
                        font-family: Roboto;
                        letter-spacing: 0;
                        color: #000 !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-bottom p {
        text-align: center;
        padding: 12px;
        color: #000;
        border-top: 1px solid #777;
        margin-bottom: 0;
    }
}

// about
#about{
    padding-bottom: 50px;
}

#admins{
    padding-bottom: 50px;
}