
// login page
#app{
    // background-image: url("{{asset('images/com/Homapage/1900901.jpg')}}");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .login {
        text-align: center;
        padding-top: 200px;
        .container{
            .row{
                .left_part{
                    h1{
                        color: #fff;
                    }
                    a{
                        img{
                            width: 50%;
                            height: 100%;
                            margin-bottom: 50px;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .cards{
                    .card-headers{
                        a{
                            border: 1px solid #fff;
                            padding: 30px 13px 30px 13px;
                            border-radius: 50%;
                            img{
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                    .card-bodys {
                        margin-top: 50px;
                        width: 650px;
                        padding-left: 90px;
                        .form-check-label.remember {
                            float: left;
                            color: #fff;
                        }
                        .btn.btn-link.forget {
                            float: left;
                            margin-top: -8px;
                            color: #fff;
                            text-decoration: none;
                        }
                        .login_submit{
                            float: right;
                            background-color: #004a71;
                            width: 70%;
                            border: 1px solid #004a71;
                        }
                        .form-control::placeholder {
                            color: #ccc;
                            opacity: 1;
                        }
                        .form-control {
                            color: #fff;
                            background-color: #004a71;
                        }
                    }
                }
            }
        }
    }
}
/////// font end start /////

// menu
#menu{
    padding-top: 50px;
    .container{
        .row{
            .tab-content{
                .tab-pane{
                    .table_house{
                        padding-top: 40px;
                        padding-left: 50px;
                        text-align: center;
                    }
                    .form_house{
                        padding-top: 40px;
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}

////// front end end///////