.btn-primary {
    color: #fff;
    background-color: #19686d;
    border-color: #19686d;
    box-shadow: none;
}
.btn-primary:hover,.btn-primary:focus {
    color: #fff;
    background-color: #19686d;
    border-color: #19686d;
    box-shadow: none;
}
.select2-container .select2-selection--single {
    height: 37px;
}
.btn-check:focus + .btn, .btn:focus, .form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}
.svgimg {
    color: #19686d;
}
.btn.danger {
    color: #ea2525;
}
.insId{
    display: none;
}
.table td, .table th{
    text-align: center;
}
.addstudentRow, .addstudentRow:hover {
    text-decoration: none;
    border: 1px solid #19686d;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #19686d;
    color: #fff;
}
.mb-25{
    line-height: 36px;
    font-size: 24px;
    color: #444 !important;
    font-weight: 600;
    margin-top: 11px;
    a{
        color: #19686d;
    }
    .pull-right {
        float: right;
        padding: 10px 18px !important;
        background-color: #fff;
        border: 2px solid #ddd !important;
        color: #455a64 !important;
        border-radius: 60px !important;
    }
    .pull-right:hover {
        background: #fafafa;
        border: 2px solid #19686d !important;
        color: #19686d !important;
    }
}

// login page
#app{
    // background-image: url("{{asset('images/com/Homapage/1900901.jpg')}}");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .login {
        text-align: center;
        padding-top: 200px;
        .container{
            .row{
                .left_part{
                    h1{
                        color: #fff;
                    }
                    a{
                        img{
                            width: 50%;
                            height: 100%;
                            margin-bottom: 50px;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .cards{
                    .card-headers{
                        a{
                            border: 1px solid #fff;
                            padding: 30px 13px 30px 13px;
                            border-radius: 50%;
                            img{
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                    .card-bodys {
                        margin-top: 50px;
                        width: 650px;
                        padding-left: 90px;
                        .form-check-label.remember {
                            float: left;
                            color: #fff;
                        }
                        .btn.btn-link.forget {
                            float: left;
                            margin-top: -8px;
                            color: #fff;
                            text-decoration: none;
                        }
                        .login_submit{
                            float: right;
                            background-color: #004a71;
                            width: 70%;
                            border: 1px solid #004a71;
                        }
                        .form-control::placeholder {
                            color: #ccc;
                            opacity: 1;
                        }
                        .form-control {
                            color: #fff;
                            background-color: #004a71;
                        }
                    }
                }
            }
        }
    }
}

// outer style
.wrapper{
    .navbar-white {
        background-color: #19686d;
        color: #fff;
    }
    [class*="sidebar-dark-"] {
        background-color: #19686d;
    }
    .brand-link .brand-image {
        float: inherit;
        line-height: 0.8;
        margin-left: 1.8rem;
        margin-right: 0.5rem;
        margin-top: -3px;
        max-height: 56px;
        width: 65%;
        height: 100%;
    }
    .elevation-3 {
        box-shadow: 0 0px 0px rgba(0,0,0,.19),0 0px 0px rgba(0,0,0,.23) !important;
    }
    .layout-fixed .brand-link {
        margin-left: 20px;
    }
    .img-circle {
        border-radius: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
    }
    .main-sidebar{
        .sidebar{
            .os-padding{
                nav{
                    .nav-link{
                        background-color: #19686d;
                        color: #fff;
                        box-shadow: 0 0px 0px rgba(0,0,0,.12),0 0px 0px rgba(0,0,0,.24);  
                    }
                    .nav-link:hover,.nav-link:focus{
                        background: #8ebef9a1 !important;
                        border-radius: 0 30px 30px 0 !important;
                        box-shadow: 0 0 3px #19686d !important;
                    }
                    .nav-treeview {
                        background-color: transparent;
                        margin-left: 10px;
                        .nav-item {
                            font-size: 13px;
                            font-weight: 400;
                            a{
                                width: 95%;
                            }
                        }
                    }
                }
            }
        }
    }
}
/////// font end start /////

// menu
#menu{
    padding-top: 50px;
    .container{
        .row{
            .tab-content{
                .tab-pane{
                    .table_house{
                        padding-top: 40px;
                        padding-left: 50px;
                        text-align: center;
                    }
                    .form_house{
                        padding-top: 40px;
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}

#slider{
    .container{
        .row{
            .mb-25{
                line-height: 36px;
                font-size: 24px;
                color: #444 !important;
                font-weight: 600;
                margin-top: 11px;
                a{
                    color: #19686d;
                }
                .pull-right {
                    float: right;
                    padding: 10px 18px !important;
                    background-color: #fff;
                    border: 2px solid #ddd !important;
                    color: #455a64 !important;
                    border-radius: 60px !important;
                }
                .pull-right:hover {
                    background: #fafafa;
                    border: 2px solid #19686d !important;
                    color: #19686d !important;
                }
            }
            .nav{
                padding-top: 50px;
            }
            .tab-content{
                padding-top: 30px;
                padding-bottom: 30px;
                .tab-pane{
                    .insId{
                        display: none;
                    }
                }
            }
        }
    }
}
#speech{
    .container{
        .row{
            .mb-25{
                line-height: 36px;
                font-size: 24px;
                color: #444 !important;
                font-weight: 600;
                margin-top: 11px;
                a{
                    color: #19686d;
                }
                .pull-right {
                    float: right;
                    padding: 10px 18px !important;
                    background-color: #fff;
                    border: 2px solid #ddd !important;
                    color: #455a64 !important;
                    border-radius: 60px !important;
                }
                .pull-right:hover {
                    background: #fafafa;
                    border: 2px solid #19686d !important;
                    color: #19686d !important;
                }
            }
           .table{
               margin-top: 50px;
           }
        }
    }
}
#about{
    .container{
        .row{
            .mb-25{
                line-height: 36px;
                font-size: 24px;
                color: #444 !important;
                font-weight: 600;
                margin-top: 11px;
                a{
                    color: #19686d;
                }
                .pull-right {
                    float: right;
                    padding: 10px 18px !important;
                    background-color: #fff;
                    border: 2px solid #ddd !important;
                    color: #455a64 !important;
                    border-radius: 60px !important;
                }
                .pull-right:hover {
                    background: #fafafa;
                    border: 2px solid #19686d !important;
                    color: #19686d !important;
                }
            }
            .data_part{
                padding-top: 50px;
            }
        }
    }
}
////// front end end///////
// Master setting start////
#startup{
    .container{
        .row{
            .mb-25{
                line-height: 36px;
                font-size: 24px;
                color: #444 !important;
                font-weight: 600;
                margin-top: 11px;
                a{
                    color: #19686d;
                }
                .pull-right {
                    float: right;
                    padding: 10px 18px !important;
                    background-color: #fff;
                    border: 2px solid #ddd !important;
                    color: #455a64 !important;
                    border-radius: 60px !important;
                }
                .pull-right:hover {
                    background: #fafafa;
                    border: 2px solid #19686d !important;
                    color: #19686d !important;
                }
            }
        }
    }
}
#basic{
    padding-bottom: 100px;
    .container{
        .row{
            .mb-25{
                line-height: 36px;
                font-size: 24px;
                color: #444 !important;
                font-weight: 600;
                margin-top: 11px;
                a{
                    color: #19686d;
                }
                .pull-right {
                    float: right;
                    padding: 10px 18px !important;
                    background-color: #fff;
                    border: 2px solid #ddd !important;
                    color: #455a64 !important;
                    border-radius: 60px !important;
                }
                .pull-right:hover {
                    background: #fafafa;
                    border: 2px solid #19686d !important;
                    color: #19686d !important;
                }
            }
        }
        .left,.right{
            margin-top: 20px;
        }
    }
    .modal{
        .modal-body{
            .ist{
                display: none;
            }
            .right{
                margin-top: 20px;
            }
        }
    }
}

#class_setup{
    padding-top: 100px;
    .container{
        .row{
            .duYtr{
                .tab-content{
                    .tab-pane{
                        margin-top: 50px;
                        .select2-container{
                            width: 100% !important;
                        }
                        .done{
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}
// Master setting end/////

//student management start

#enrollment_auto{
    .container{
        .row{
            .mb-25{
                line-height: 36px;
                font-size: 24px;
                color: #444 !important;
                font-weight: 600;
                margin-top: 11px;
                a{
                    color: #19686d;
                }
                .pull-right {
                    float: right;
                    padding: 10px 18px !important;
                    background-color: #fff;
                    border: 2px solid #ddd !important;
                    color: #455a64 !important;
                    border-radius: 60px !important;
                }
                .pull-right:hover {
                    background: #fafafa;
                    border: 2px solid #19686d !important;
                    color: #19686d !important;
                }
            }
            .student_table{
                .add{
                    margin-bottom: 10px;
                }
                .above_part{
                    margin-top: 20px;
                }
                .label_part{
                    margin-top: 50px;
                }
            }
        }
    }
}

////student management end

//fee managemenet start
#fee_startup{
    .container{
        .row{
            nav{
                padding-top: 50px;
                .nav-link, .nav-link:hover {
                    color: #19686d;
                }
            }
            .tab-content{
                padding-top: 30px;
                .tab-pane{
                    
                }
            }
        }
    }
}

//fee managemenet end