
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
.std_portal{
    padding-top: 5%;

    .payment{
        .container{
            .lkjhy{
                .waiver-list {
                    display: flex;
                    font-weight: 800;
                }
                .grandul{
                    display: flex;
                    li{
                        list-style: none;
                    }
                    :nth-child(2)
                    {
                        float: right;
                        margin-left: 100px;
                    }
                }
                .btn-sm{
                    float: right;
                }
            }
        }
    }
}

// <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>