a {
  color: #000 !important;
  text-decoration: none;
  font-size: 14px;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.header {
  position: relative;
  z-index: 3;
}
.header .top-nav-left {
  padding: 10px;
}
.header .login_part {
  margin-top: 7px;
  position: relative;
  z-index: 999;
}
.header .nav-down {
  background-color: #3091f2 !important;
}
.header .nav-down .bg-light {
  background-color: #3091f2 !important;
}
.header .nav-down .navbar-expand-lg .navbar-collapse {
  flex: 0.8 1 auto;
}
.header .nav-down .nav-link {
  font-size: 16px;
  font-weight: 900;
  line-height: 14px;
}
.header .nav-down .dropdown-menu.subcatEcom {
  margin-left: -40px;
}
.header .nav-down .dropdown-menu li a {
  text-align: center;
}
.header .nav-down .dropdown-menu[data-bs-popper] {
  margin-top: 2rem;
}
.header .nav-down .collapse .navbar-nav .nav-item a {
  color: #fff !important;
}
.header .nav-down .collapse .navbar-nav .nav-item .subcatEcom li a {
  color: #000 !important;
}

#carouselAcademy img {
  height: 500px;
}

.carousel-top {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.8s;
}
.carousel-top .col_name {
  color: #fff;
  margin-top: -100px;
}
.carousel-top .his_btn {
  border: 1px solid #4af40c;
  border-radius: 4px;
  background-color: #3091f2;
}
.carousel-top .his_btn .btn {
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  padding: 8px 50px;
}
.carousel-top .his_btn:hover {
  background-color: rgba(153, 28, 28, 0.5490196078);
}

#sobornojointy {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(177, 218, 231, 0.168627451);
}
#sobornojointy .container .row .lksUi {
  overflow-x: auto;
  text-align: justify;
  font-size: 15px;
  color: #000;
  padding: 10px;
  background: #F1F8E9;
  border-radius: 3px;
  text-align: center;
}
#sobornojointy .container .row .lksUi .table tbody tr td, #sobornojointy .container .row .lksUi .table tbody tr p {
  font-size: 18px;
  line-height: 1.42857143;
}
#sobornojointy .container .row .lksUi .table tbody tr h3 {
  width: 100%;
  text-align: center;
  padding-top: 30px !important;
  padding: 10px;
  color: #966521;
}
#sobornojointy .container .row .lksUi .table tbody tr a {
  color: #fff !important;
}
#sobornojointy .container .row .lksUi .table tbody tr td:nth-child(1) {
  width: 33%;
}
#sobornojointy .container .row .lksUi .table tbody tr td:nth-child(1) p {
  margin-top: 20px;
}
#sobornojointy .container .row .lksUi .table tbody tr td:nth-child(2) {
  text-align: justify;
  width: 34%;
  text-align: justify;
}
#sobornojointy .container .row .lksUi .table tbody tr td:nth-child(2) p {
  font-weight: 600;
  line-height: 27px;
}
#sobornojointy .container .row .lksUi .table tbody tr td:nth-child(3) {
  width: 33%;
}

#professorMsg {
  padding-top: 50px;
  padding-bottom: 50px;
}
#professorMsg .container .row .wqbGt {
  text-align: center;
}
#professorMsg .container .row .wqbGt .ewKuy {
  box-shadow: 0px 2px 18px 16px rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: relative;
  max-width: 100%;
}
#professorMsg .container .row .wqbGt .ewKuy .d_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
#professorMsg .container .row .wqbGt .ewKuy img {
  min-height: 100px;
  max-height: 466px;
  width: auto;
}
#professorMsg .container .row .contentOfPr {
  margin-top: 80px;
  text-align: justify;
}
#professorMsg .container .row .contentOfPr .p_msg {
  margin-top: 20px;
}
#professorMsg .container .vice {
  margin-top: 50px;
}

#notice {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(177, 218, 231, 0.168627451);
}
#notice .container .divtitle {
  text-align: center;
  margin-bottom: 50px;
}
#notice .container .divtitle h2 {
  font-weight: 900;
}
#notice .container .divtitle .borde {
  border-style: solid;
  border-top-width: 3px;
  border-color: #2b87da;
  width: 15%;
  vertical-align: middle;
  display: inline flow-root;
}
#notice .container .row .recent {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #fff;
  height: 100%;
}
#notice .container .row .recent h1 {
  padding-left: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
}
#notice .container .row .recent .content {
  height: 70%;
}
#notice .container .row .recent .content ul {
  list-style-type: disc;
  padding: 0 0 23px 2em;
  line-height: 26px;
}
#notice .container .row .recent .content ul li {
  list-style: none;
}
#notice .container .row .recent .content ul li a {
  text-decoration: underline;
  font-size: 18px;
  color: #2ea3f2 !important;
}
#notice .container .row .recent .content ul li .cont_date {
  font-size: 20px;
}
#notice .container .row .recent .shgTr {
  text-align: center;
  padding-bottom: 20px;
}
#notice .container .row .recent .shgTr a {
  border: 1px solid #b1dae7;
  background-color: #b1dae7;
  padding: 6px 10px;
  border-radius: 12px;
}
#notice .container .row .finalBox {
  margin-bottom: 0 !important;
}
#notice .container .row .rightBox {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-size: 15px;
  color: #3091F2;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  margin-bottom: 20px;
}
#notice .container .row .rightBox .row img {
  width: 95px;
}
#notice .container .row .rightBox .row .content h4 {
  margin-left: 15px;
  color: #000;
}
#notice .container .row .rightBox .row .content ul li a {
  font-size: 15px;
  color: #2ea3f2 !important;
  line-height: 26px;
}

#recent_pic {
  padding-top: 50px;
  padding-bottom: 50px;
}
#recent_pic .container .dJuyt h2 {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  font-family: Roboto;
  letter-spacing: -0.01rem;
}
#recent_pic .container .imag .owl-carousel .item {
  border: 0px solid black;
  -webkit-transition: all 0.6s ease;
  width: 169.667px;
  margin: 3px;
}
#recent_pic .container .imag .owl-carousel .item img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
#recent_pic .container .imag .owl-carousel .item:hover {
  filter: grayscale(100%);
  filter: gray;
}

#footer {
  background-color: #f2f9fb;
}
#footer .footer-middle {
  padding: 4.7rem 0 0;
}
#footer .footer-middle .container .row .widget {
  margin-bottom: 1rem;
  font-size: 14px;
}
#footer .footer-middle .container .row .widget a img {
  margin-bottom: 2rem;
  margin-top: -0.8rem;
}
#footer .footer-middle .container .row .widget p:last-of-type {
  margin-bottom: 3.2rem;
  color: #000;
}
#footer .footer-middle .container .row .widget .social-icon, #footer .footer-middle .container .row .widget .social-icons {
  display: flex;
  align-items: center;
}
#footer .footer-middle .container .row .widget .social-icons {
  flex-flow: row wrap;
}
#footer .footer-middle .container .row .widget .social-icon {
  justify-content: center;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  color: #777;
  margin: 0;
  background-color: transparent;
  border: 0.1rem solid #e1e2e6;
  text-decoration: none;
  opacity: 1;
  transition: all 0.35s ease;
}
#footer .footer-middle .container .row .widget .social-icon:hover {
  background-color: #34bf20 !important;
}
#footer .footer-middle .container .row .widget .social-icon:hover i {
  color: #ec2121 !important;
}
#footer .footer-middle .container .row .widget .widget-title {
  color: #000;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
}
#footer .footer-middle .container .row .widget .widget-list {
  list-style: inside;
  padding: 0;
  margin: 0 0 1.5rem;
}
#footer .footer-middle .container .row .widget .widget-list li:not(:last-child) {
  margin-bottom: 0.4rem;
}
#footer .footer-middle .container .row .widget .widget-list li a {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #3d25e6 !important;
  text-decoration: underline;
}
#footer .footer-middle .container .row .widget .wpb_wrapper p {
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #000 !important;
  text-decoration: none;
}
#footer .footer-bottom p {
  text-align: center;
  padding: 12px;
  color: #000;
  border-top: 1px solid #777;
  margin-bottom: 0;
}
