@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css);
.btn-primary {
  color: #fff;
  background-color: #19686d;
  border-color: #19686d;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #19686d;
  border-color: #19686d;
  box-shadow: none;
}

.select2-container .select2-selection--single {
  height: 37px;
}

.select2-container {
  width: 70%;
}

.btn-check:focus + .btn, .btn:focus, .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.svgimg {
  color: #19686d;
}

.btn.danger {
  color: #ea2525;
}

.insId {
  display: none;
}

.table td, .table th {
  text-align: center;
}

.addstudentRow, .addstudentRow:hover {
  text-decoration: none;
  border: 1px solid #19686d;
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #19686d;
  color: #fff;
}

.mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
.mb-25 a {
  color: #19686d;
}
.mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
.mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}

.main-footer {
  text-align: center;
}
.main-footer p {
  margin: 0;
}

.select2.select2-container.select2-container--default.select2-container--focus, .select2.select2-container.select2-container--default {
  width: 306px !important;
}

#app {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#app .login {
  text-align: center;
  padding-top: 200px;
}
#app .login .container .row .left_part h1 {
  color: #fff;
}
#app .login .container .row .left_part a img {
  width: 50%;
  height: 100%;
  margin-bottom: 50px;
}
#app .login .container .row .left_part img {
  width: 100%;
  height: 100%;
}
#app .login .container .row .s-title {
  margin-top: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 900;
}
#app .login .container .row .cards .card-headers a {
  border: 1px solid #fff;
  padding: 30px 13px 30px 13px;
  border-radius: 50%;
}
#app .login .container .row .cards .card-headers a img {
  width: 60px;
  height: 60px;
}
#app .login .container .row .cards .card-bodys {
  margin-top: 50px;
  width: 650px;
  padding-left: 90px;
}
#app .login .container .row .cards .card-bodys .form-check-label.remember {
  float: left;
  color: #fff;
}
#app .login .container .row .cards .card-bodys .btn.btn-link.forget {
  float: left;
  margin-top: -8px;
  color: #fff;
  text-decoration: none;
}
#app .login .container .row .cards .card-bodys .login_submit {
  float: right;
  background-color: #004a71;
  width: 70%;
  border: 1px solid #004a71;
}
#app .login .container .row .cards .card-bodys .form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
#app .login .container .row .cards .card-bodys .form-control::placeholder {
  color: #ccc;
  opacity: 1;
}
#app .login .container .row .cards .card-bodys .form-control {
  color: #fff;
  background-color: #004a71;
}

.wrapper .navbar-white {
  background-color: #19686d;
  color: #fff;
}
.wrapper [class*=sidebar-dark-] {
  background-color: #19686d;
}
.wrapper .brand-link .brand-image {
  float: inherit;
  line-height: 0.8;
  margin-left: 1.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
  max-height: 56px;
  width: 65%;
  height: 100%;
}
.wrapper .elevation-3 {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 0px 0px rgba(0, 0, 0, 0.23) !important;
}
.wrapper .layout-fixed .brand-link {
  margin-left: 20px;
}
.wrapper .img-circle {
  border-radius: 0;
}
.wrapper .navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-link {
  background-color: #19686d;
  color: #fff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-link:hover, .wrapper .main-sidebar .sidebar .os-padding nav .nav-link:focus {
  background: rgba(142, 190, 249, 0.631372549) !important;
  border-radius: 0 30px 30px 0 !important;
  box-shadow: 0 0 3px #19686d !important;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-treeview {
  background-color: transparent;
  margin-left: 10px;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-treeview .nav-item {
  font-size: 13px;
  font-weight: 400;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-treeview .nav-item a {
  width: 95%;
}

#menu {
  padding-top: 50px;
}
#menu .container .row .tab-content .tab-pane .table_house {
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}
#menu .container .row .tab-content .tab-pane .form_house {
  padding-top: 40px;
  padding-left: 50px;
}

#slider .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#slider .container .row .mb-25 a {
  color: #19686d;
}
#slider .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#slider .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#slider .container .row .nav {
  padding-top: 50px;
}
#slider .container .row .tab-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
#slider .container .row .tab-content .tab-pane .insId {
  display: none;
}

#speech .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#speech .container .row .mb-25 a {
  color: #19686d;
}
#speech .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#speech .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#speech .container .row .table {
  margin-top: 50px;
}

#about .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#about .container .row .mb-25 a {
  color: #19686d;
}
#about .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#about .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#about .container .row .data_part {
  padding-top: 50px;
}

#admin_edit .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#admin_edit .container .row .mb-25 a {
  color: #19686d;
}
#admin_edit .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#admin_edit .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#admin_edit .container .row .data_part {
  padding-top: 50px;
}
#admin_edit .container .row #subcat_id {
  pointer-events: none;
}

#startup .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#startup .container .row .mb-25 a {
  color: #19686d;
}
#startup .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#startup .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#startup .container .row .select2.select2-container.select2-container--default.select2-container--focus, #startup .container .row .select2.select2-container.select2-container--default {
  width: 236px !important;
}

#basic {
  padding-bottom: 100px;
}
#basic .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#basic .container .row .mb-25 a {
  color: #19686d;
}
#basic .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#basic .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#basic .container .left, #basic .container .right {
  margin-top: 20px;
}
#basic .modal .modal-body .ist {
  display: none;
}
#basic .modal .modal-body .right {
  margin-top: 20px;
}

#class_setup {
  padding-top: 100px;
}
#class_setup .container .row .duYtr .tab-content .tab-pane {
  margin-top: 50px;
}
#class_setup .container .row .duYtr .tab-content .tab-pane .select2-container {
  width: 100% !important;
}
#class_setup .container .row .duYtr .tab-content .tab-pane .done {
  margin-top: 30px;
}

#enrollment_auto .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#enrollment_auto .container .row .mb-25 a {
  color: #19686d;
}
#enrollment_auto .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#enrollment_auto .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#enrollment_auto .container .row .student_table .add {
  margin-bottom: 10px;
}
#enrollment_auto .container .row .student_table .above_part {
  margin-top: 20px;
}
#enrollment_auto .container .row .student_table .label_part {
  margin-top: 50px;
}
#enrollment_auto .container .row .excel {
  text-decoration: none;
  color: #19686d;
}
#enrollment_auto .container .row .excel img {
  border: 1px solid #19686d;
  padding: 48px;
  border-radius: 5px;
}

#fee_startup .container .row nav {
  padding-top: 50px;
}
#fee_startup .container .row nav .nav-link, #fee_startup .container .row nav .nav-link:hover {
  color: #19686d;
}
#fee_startup .container .row .tab-content {
  padding-top: 30px;
}
#fee_mapping .container .row .plJhy .tab-content {
  margin-top: 30px;
}

#fee_amount .container .row .plJhy .tab-content {
  margin-top: 30px;
}
#fee_amount .container .row .plJhy .tab-content .rkj {
  border: 1px solid #19686d;
  padding: 35px;
  border-radius: 6px;
}
#fee_amount .container .row .plJhy .tab-content .rkj p {
  margin-top: -10px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: #19686d;
}
#fee_amount .container .row .plJhy .tab-content .saveBtn {
  margin-bottom: 50px;
}

#date_config .container .row .tab-content {
  margin-top: 30px;
}
#date_config .container .row .tab-content .rkj {
  border: 1px solid #19686d;
  padding: 35px;
  padding-bottom: 65px;
  border-radius: 6px;
}
#date_config .container .row .tab-content .rkj p {
  margin-top: -10px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: #19686d;
}
#date_config .container .row .tab-content .rkj .select2.select2-container.select2-container--default.select2-container--focus, #date_config .container .row .tab-content .rkj .select2.select2-container.select2-container--default {
  width: 236px !important;
}
#date_config .container .row .tab-content .rkj .date_assign_table {
  width: 100%;
  text-align: inherit;
}
#date_config .container .row .tab-content .rkj .date_assign_table tbody tr {
  padding: 10px !important;
  display: flex;
}
#date_config .container .row .tab-content .rkj .date_assign_table tbody tr td {
  width: 33.3%;
}
#date_config .container .row .tab-content .rkj .dBtn {
  float: right;
  margin-top: 15px;
}
#date_config .container .row .tab-content .rkj ul {
  display: flex;
}
#date_config .container .row .tab-content .rkj ul li {
  list-style: none;
  width: 33.3%;
}
#date_config .container .row .tab-content .rkj .date_assign_table .feesubheadname {
  border: none;
  background-color: #f4f6f9;
}
#date_config .container .row .tab-content .searchBtn {
  margin-bottom: 20px;
  float: right;
}

#waiver_config .container .row .tab-content {
  margin-top: 30px;
}
#waiver_config .container .row .tab-content .rkj {
  border: 1px solid #19686d;
  padding: 35px;
  padding-bottom: 65px;
  border-radius: 6px;
}
#waiver_config .container .row .tab-content .rkj p {
  margin-top: -10px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: #19686d;
}
#waiver_config .container .row .tab-content .rkj .select2.select2-container.select2-container--default.select2-container--focus, #waiver_config .container .row .tab-content .rkj .select2.select2-container.select2-container--default {
  width: 236px !important;
}
#waiver_config .container .row .tab-content .rkj .date_assign_table {
  width: 100%;
  text-align: inherit;
}
#waiver_config .container .row .tab-content .rkj .date_assign_table tbody tr {
  padding: 10px !important;
  display: flex;
}
#waiver_config .container .row .tab-content .rkj .date_assign_table tbody tr td {
  width: 33.3%;
}
#waiver_config .container .row .tab-content .rkj .dBtn {
  float: right;
  margin-top: 15px;
}
#waiver_config .container .row .tab-content .searchBtn {
  margin-bottom: 20px;
  float: right;
}
#waiver_config .container .row .tab-content .down {
  margin-top: 100px;
}
#waiver_config .container .row .tab-content .down #des {
  text-align: center;
  font-size: 30px;
}
#waiver_config .container .row .tab-content .down #s_table {
  display: none;
}
#waiver_config .container .row .tab-content .down table {
  width: 100%;
  margin-bottom: 30px;
}
#waiver_config .container .row .tab-content .down table th, #waiver_config .container .row .tab-content .down table td {
  padding: 10px;
}
#waiver_config .container .row .tab-content .down .searchBtn {
  margin-top: 10px;
}
#waiver_config .container .row .edit_ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}
#waiver_config .container .row .lkoi {
  border: 1px solid #19686d;
  padding: 25px;
  border-radius: 5px;
}
#waiver_config .container .row .lkoi label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
  display: block;
}
#waiver_config .container .row .lkoi .w_am {
  pointer-events: none;
  border: none;
}
#waiver_config .modal .select2.select2-container.select2-container--default.select2-container--focus, #waiver_config .modal .select2.select2-container.select2-container--default {
  width: 225px !important;
}
#waiver_config .modal .select2-dropdown.select2-dropdown--below {
  position: relative;
  z-index: 9999;
}

.select2-container.select2-container--default.select2-container--open {
  z-index: 9999;
}

#quick_collection .container .row .upi {
  margin-top: 50px;
}
#quick_collection .container .row .std_table tbody tr :nth-child(1), #quick_collection .container .row .std_table tbody tr :nth-child(2), #quick_collection .container .row .std_table tbody tr :nth-child(3) {
  padding-bottom: 10px;
}
#quick_collection .container .row .std_table tbody tr :nth-child(2) {
  padding-left: 20px;
  padding-right: 20px;
}
