.btn-primary {
  color: #fff;
  background-color: #19686d;
  border-color: #19686d;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
  background-color: #19686d;
  border-color: #19686d;
  box-shadow: none;
}

.select2-container .select2-selection--single {
  height: 37px;
}

.btn-check:focus + .btn, .btn:focus, .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.svgimg {
  color: #19686d;
}

.btn.danger {
  color: #ea2525;
}

.insId {
  display: none;
}

#app {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#app .login {
  text-align: center;
  padding-top: 200px;
}
#app .login .container .row .left_part h1 {
  color: #fff;
}
#app .login .container .row .left_part a img {
  width: 50%;
  height: 100%;
  margin-bottom: 50px;
}
#app .login .container .row .left_part img {
  width: 100%;
  height: 100%;
}
#app .login .container .row .cards .card-headers a {
  border: 1px solid #fff;
  padding: 30px 13px 30px 13px;
  border-radius: 50%;
}
#app .login .container .row .cards .card-headers a img {
  width: 60px;
  height: 60px;
}
#app .login .container .row .cards .card-bodys {
  margin-top: 50px;
  width: 650px;
  padding-left: 90px;
}
#app .login .container .row .cards .card-bodys .form-check-label.remember {
  float: left;
  color: #fff;
}
#app .login .container .row .cards .card-bodys .btn.btn-link.forget {
  float: left;
  margin-top: -8px;
  color: #fff;
  text-decoration: none;
}
#app .login .container .row .cards .card-bodys .login_submit {
  float: right;
  background-color: #004a71;
  width: 70%;
  border: 1px solid #004a71;
}
#app .login .container .row .cards .card-bodys .form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
#app .login .container .row .cards .card-bodys .form-control::placeholder {
  color: #ccc;
  opacity: 1;
}
#app .login .container .row .cards .card-bodys .form-control {
  color: #fff;
  background-color: #004a71;
}

.wrapper .navbar-white {
  background-color: #19686d;
  color: #fff;
}
.wrapper [class*=sidebar-dark-] {
  background-color: #19686d;
}
.wrapper .brand-link .brand-image {
  float: inherit;
  line-height: 0.8;
  margin-left: 1.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
  max-height: 56px;
  width: 65%;
  height: 100%;
}
.wrapper .elevation-3 {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 0px 0px rgba(0, 0, 0, 0.23) !important;
}
.wrapper .layout-fixed .brand-link {
  margin-left: 20px;
}
.wrapper .img-circle {
  border-radius: 0;
}
.wrapper .navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-link {
  background-color: #19686d;
  color: #fff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-link:hover, .wrapper .main-sidebar .sidebar .os-padding nav .nav-link:focus {
  background: rgba(142, 190, 249, 0.631372549) !important;
  border-radius: 0 30px 30px 0 !important;
  box-shadow: 0 0 3px #19686d !important;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-treeview {
  background-color: transparent;
  margin-left: 10px;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-treeview .nav-item {
  font-size: 13px;
  font-weight: 400;
}
.wrapper .main-sidebar .sidebar .os-padding nav .nav-treeview .nav-item a {
  width: 95%;
}

#menu {
  padding-top: 50px;
}
#menu .container .row .tab-content .tab-pane .table_house {
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}
#menu .container .row .tab-content .tab-pane .form_house {
  padding-top: 40px;
  padding-left: 50px;
}

#slider .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#slider .container .row .mb-25 a {
  color: #19686d;
}
#slider .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#slider .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#slider .container .row .nav {
  padding-top: 50px;
}
#slider .container .row .tab-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
#slider .container .row .tab-content .tab-pane .insId {
  display: none;
}

#speech .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#speech .container .row .mb-25 a {
  color: #19686d;
}
#speech .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#speech .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#speech .container .row .table {
  margin-top: 50px;
}

#startup .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#startup .container .row .mb-25 a {
  color: #19686d;
}
#startup .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#startup .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}

#basic {
  padding-bottom: 100px;
}
#basic .container .row .mb-25 {
  line-height: 36px;
  font-size: 24px;
  color: #444 !important;
  font-weight: 600;
  margin-top: 11px;
}
#basic .container .row .mb-25 a {
  color: #19686d;
}
#basic .container .row .mb-25 .pull-right {
  float: right;
  padding: 10px 18px !important;
  background-color: #fff;
  border: 2px solid #ddd !important;
  color: #455a64 !important;
  border-radius: 60px !important;
}
#basic .container .row .mb-25 .pull-right:hover {
  background: #fafafa;
  border: 2px solid #19686d !important;
  color: #19686d !important;
}
#basic .container .left, #basic .container .right {
  margin-top: 20px;
}
#basic .modal .modal-body .ist {
  display: none;
}
#basic .modal .modal-body .right {
  margin-top: 20px;
}

#class_setup {
  padding-top: 100px;
}
#class_setup .container .row .duYtr .tab-content .tab-pane {
  margin-top: 50px;
}
#class_setup .container .row .duYtr .tab-content .tab-pane .select2-container {
  width: 100% !important;
}
#class_setup .container .row .duYtr .tab-content .tab-pane .done {
  margin-top: 30px;
}
