@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap);
.std_portal {
  padding-top: 5%;
}
.std_portal .payment .container .lkjhy .waiver-list {
  display: flex;
  font-weight: 800;
}
.std_portal .payment .container .lkjhy .grandul {
  display: flex;
}
.std_portal .payment .container .lkjhy .grandul li {
  list-style: none;
}
.std_portal .payment .container .lkjhy .grandul :nth-child(2) {
  float: right;
  margin-left: 100px;
}
.std_portal .payment .container .lkjhy .btn-sm {
  float: right;
}
.std_portal .std_tab {
  background-color: #eee;
  margin-left: 2px;
  color: #19686d;
}
.std_portal .std_tab.active {
  background-color: #19686d;
}
